@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
    }
header{
 z-index: 10001 !important;

}
.section-container{
    @apply container px-4 mx-auto max-w-screen-2xl xl:px-24; 
  
}

.subtitle{
  @apply text-xl font-semibold tracking-wide text-purple-900;
}
.title{
  @apply my-2 text-4xl font-bold leading-snug md:text-5xl md:leading-snug
        
}
.heartStar{
  border-radius: 0px 28px 6px 28px;
}